@import url("/assets/css/default.css");


@layer theme {

    a {
        color: #fff;
        padding: 16px;
        font-family: literal;
        border-radius: 16px;
        border: 4px solid #ccc;
        display: inline-block;
        margin: auto;
    }

    html {
        background: #666;
    }

    p {
        color: #fff;
        text-align: center;
        font-family: literal;
        font-size: 30px;
    }
}