@font-face {
    font-family: 'fjallaoneregular';
    src: url("/assets/fonts/fjallaone-regular-webfont.woff2") format('woff2'),
        url("/assets/fonts/fjallaone-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "literal";
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/literal.bold-webfont.woff2") format("woff2"),
        url("/assets/fonts/literal.bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "dela";
    font-style: normal;
    font-weight: 100 400;
    font-display: swap;
    src: url("/assets/fonts/dela.woff2") format("woff2");
}

@layer default, theme;

@layer default {

    *,
    *::before,
    *::after {
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    .nobr {
        white-space: nowrap;
    }


    a {
        text-decoration: none;
        color: inherit;
    }

    body {
        gap: 16px;
        display: flex;
        flex-flow: column;
        width: min-content;
        width: 100%;
        max-width: 850px;
        padding: 16px;
    }

    footer {
        gap: 16px;
        display: flex;
        padding: 16px;
        border-radius: 16px;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    h1 {
        overflow-wrap: anywhere;

        & img {
            display: block;
            border-radius: 16px;
            width: 100%;
        }
    }

    header {
        display: flex;
        padding: 16px;

        &>a:last-of-type {
            margin-left: auto;
        }
    }

    html {
        display: flex;
        flex-flow: column;
        place-content: center;
        place-items: center;
        min-height: 100%;
    }

    main {
        gap: 16px;
        display: flex;
        flex-flow: row wrap;
    }

    p {
        padding: 8px 0;
        font-family: serif;
    }
}