<!DOCTYPE html>
<html lang="{{ page.lang | default: " de" }}">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="{{ page.robots | default: 'follow, index' }}">
    <meta name="theme-color" content="#666" />

    <link rel="stylesheet" href="{{ page.stylesheet | prepend: 'assets/css/' | relative_url  }}">
    <link rel="stylesheet" href="{{ page.stylesheet | prepend: 'assets/css/' | relative_url  }}" as="style" rel="preload">
    <link href="/assets/fonts/fjallaone-regular-webfont.woff2" as="font" rel="preload" type="font/woff2" crossorigin="">
    <link href="/assets/fonts/literal.bold-webfont.woff2" as="font" rel="preload" type="font/woff2" crossorigin="">
</head>

<body>
    {{ content }}
</body>

</html>