<!DOCTYPE html>
<html lang="{{ page.lang | default: "de" }}">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="{{ page.robots | default: "follow, index" }}">

    <link rel="stylesheet" href="/assets/css/default.css">
    {% if page.collection %}
    <link rel="stylesheet" href="/assets/css/{{ page.collection }}.css">
    {% endif %}
</head>

<body>
    {{ content }}
</body>

</html>